body {
	background-image: url(../../assets/images/ecailles_color.png);
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1, h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.125rem;
}
h4 {
	font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.separator {
		border: 0;
    border-top: 1px solid $mainOrange;
    margin: 0 auto 1.875rem;
    width: 93.5%;
}
