.wrapper {
	margin: -1.875rem auto;

	@mixin atMedium {
		width: 90%;
		margin: -.9375rem auto 0;
		display: flex;
		justify-content: center;
	}
}

.content {
	background: #fff;
	margin: 0 1.5rem 0;
	padding: 0;

	@mixin atMedium {
		width: 660px;
		padding: 0 .5rem;
	}

	@mixin atLarge {
		width: 700px;
		padding: 0 1.5rem;
	}
}

.sidebar {
	display: none;

	@mixin atMedium {
		background: #fff;
		width: 380px;
		margin: 0 .5rem 0;
		display: block;
	}

	@mixin atLarge{
		width: 340px;
		margin: 0 1.5rem 0;
	}
}
